<body>    
    <h1><%= title %></h1>
    
    <% include messages %>

    <div id="myAds"></div>
    
    <% if (locals.ads) { 
        ads.forEach(function(ad) { %>
            <script type="text/javascript">
                $('document').ready(function(){

                    <% if (ad.type === "band" )  { %>
                    var adType = "Banda";
                    var adReference = "<%= ad.band.name %>";
                    <% } else { %>
                    var adType = "Lugar"
                    var adReference = "<%= ad.place %>";
                    <% } %>

                    <% if (ad.visibility === "gold" )  { %>
                    var adVisibility = "Gold";
                    <% } else { %>
                    var adVisibility = "Silver"
                    <% } %>

                    var adDuration = "<%= ad.duration %>";
                    var adExpiration = "<%= ad.expiration %>";

    
                    $('<paper-card heading="' + adType + '" >  <div class="card-content"><p>'+ adReference + '</p><p>Expira: '+ adExpiration + '</p><p>Duración: '+ adDuration + '</p><p>Visibilidad: ' + adVisibility + '</p></div>  <div class="card-actions"> <paper-button ><iron-icon icon="icons:build"></iron-icon></paper-button></div></paper-card>').appendTo( $('#myAds') );})
            </script>
            
        <% }) 
    } %>

</body>
