<body>    
    <h1><%= title %></h1>
    
    <% include messages %>

    <div id="myAds">
    <% if (locals.ads) { 
        ads.forEach(function(ad) {
            var adType;
            var adReference;
            var adVisibility;
            
            if (ad.type === "band" )  {
                adType = "Banda";
                adReference = ad.band.name;
            } else {
                adType = "Lugar"
                adReference = ad.location.name;
            }

            if (ad.visibility === "gold" )  {
                adVisibility = "Gold";
            } else {
                adVisibility = "Silver"
            }             
        %>
            <paper-card heading="<%= adType %>" >
                <div class="card-content">
                    <p><%= adReference %></p>
                    <p>Expira: <%= ad.expiration %></p>
                    <p>Duración: <%= ad.duration %> días</p>
                    <p>Visibilidad: <%= ad.visibility %></p>
                </div>
                <div class="card-actions">
                    <paper-button ><a href="/ads/delete/<%= ad.id %>"><iron-icon icon="icons:delete"></iron-icon></a></paper-button>
                </div>
            </paper-card>
            
        <% }) 
    } %>
    </div>
</body>
