<body>    
    <style type="text/css">
        div.card-actions p {
            margin:10px; 
            font-weight: bolder; 
            text-align: right; 
            color:purple;
        }

        paper-dialog {
            width: 50%;
        }
    </style>

    <h1><%= title %></h1>
    
    <% include messages %>

    <div id="someMessages" ></div>

    <% if(locals.contracts) {
        contracts.forEach(function(contract) { 
            var band = contract.band || {_id:""};
            var location = contract.location || {_id:""};

            if(band && band.members.indexOf(user._id) >= 0) {
                var userBelongsToBand = true;
            }

            if(location && location.members.indexOf(user._id) >= 0) {
                var userOwnsLocation = true;
            }

            var state = {
                pending: 'PENDIENTE',
                accepted: 'ACEPTADO',
                rejected: 'RECHAZADO'
            };

            var monthEventDate = contract.eventDate.getMonth() + 1;
            var __monthEventDate = contract.eventDate.getMonth();
            var dayEventDate = contract.eventDate.getDate();
            var yearEventDate = contract.eventDate.getFullYear();
            var hoursEventDate = contract.eventDate.getHours();
            var minutesEventDate = contract.eventDate.getMinutes();

            var monthExpirationDate = contract.expirationDate.getMonth()+1;
            var dayExpirationDate = contract.expirationDate.getDate();
            var yearExpirationDate = contract.expirationDate.getFullYear();


        %>

            <% if(contract.type == 'toBand') { %>
                <paper-card heading="Contrato de <%=contract.location.name %> para <%=contract.band.name %>" >
            <% } else { %>
                <paper-card heading="Contrato de <%=contract.band.name %> para <%=contract.location.name %>" >
            <% } %>
                <div class="card-content">
                    <p>Monto: $ <%=contract.cash %></p>
                    <p>Fecha del evento: <%=dayEventDate%>/<%=monthEventDate%>/<%=yearEventDate%></p>
                    <p><%=contract.description %></p>
                    <p>Fecha de expiracion de la propuesta: <%=dayExpirationDate%>/<%=monthExpirationDate%>/<%=yearExpirationDate%></p> 
                </div>  
                <% if((contract.status == "pending") && (((contract.type == 'toBand') && userBelongsToBand) || ((contract.type == 'toLocation') && userOwnsLocation))) { %>
                    <div class="card-actions"> 
                        <paper-button id="accept_<%=contract._id%>">
                            <iron-icon icon="icons:check"></iron-icon>Aceptar
                        </paper-button>
                        <paper-button id="reject_<%=contract._id%>">
                            <iron-icon icon="icons:close"></iron-icon>Rechazar
                        </paper-button>
                    </div>
                <% } else { %>
                    <div class="card-actions"> 
                        <p><%=state[contract.status] %></p>
                    </div>
                <% } %>
            </paper-card>

            <div class="paperDialogContainer">
                <paper-dialog modal id="reject_dialog_<%=contract._id%>">
                    <h2>Rechazo</h2>
                    <paper-dialog-scrollable>
                        Detalle las razones:
                    </paper-dialog-scrollable>
                    <paper-input id="reject_input_<%=contract._id%>" label="Rechazo porque..."></paper-input>
                    <div class="buttons">
                        <paper-button dialog-confirm id="reject_dialog_confirm_<%=contract._id%>">Ok</paper-button>
                    </div>
                </paper-dialog>
            </div>


            <script type="text/javascript">
                $(document).ready(function() {
                    var rejectButton = document.querySelector('#reject_<%=contract._id%>');
                    var acceptButton = document.querySelector('#accept_<%=contract._id%>');

                    if(rejectButton) {
                        document.querySelector('#reject_<%=contract._id%>').onclick = function() {
                            var dialog = document.querySelector('#reject_dialog_<%=contract._id%>');
                            dialog.toggle();
                        };
                    }

                    if(acceptButton) {
                        document.querySelector('#accept_<%=contract._id%>').onclick = function() {
                            $.post('/api/contracts/accept/<%=contract._id%>',{
                                bandId: "<%=band._id %>",
                                locationId: "<%=location._id %>",
                                year: "<%=yearEventDate %>",
                                month: "<%=__monthEventDate %>",
                                day: "<%=dayEventDate %>",
                                hours: "<%=hoursEventDate %>",
                                minutes: "<%=minutesEventDate %>"
                            }, function(res){
                                if(res.ok) {
                                    console.log("DESHABILITANDO COMPONENTES...");
                                    document.querySelector('#reject_<%=contract._id%>').disabled = true;
                                    document.querySelector('#accept_<%=contract._id%>').disabled = true;
                                }

                                if(res.error) {
                                    console.log("OCURRIO UN ERROR: ");
                                    console.log(res.error);
                                    document.querySelector('#someMessages').innerHTML = '<p class="alert alert-danger">' + res.error +'</p>';
                                }
                            });
                        };
                    }

                    document.querySelector('#reject_dialog_confirm_<%=contract._id%>').onclick = function(event) {
                        var rejectReason = document.querySelector('#reject_input_<%=contract._id%>').value;
                        if(!rejectReason || rejectReason === "") {
                            return event.preventDefault();
                        }

                        $.post('/api/contracts/reject/<%=contract._id%>',{rejectReason: rejectReason}, function(res){
                            console.log("$.post res:");
                            console.log(res);
                            if(res.ok) {
                                console.log("DESHABILITANDO COMPONENTES...");
                                document.querySelector('#reject_<%=contract._id%>').disabled = true;
                                document.querySelector('#accept_<%=contract._id%>').disabled = true;
                            }
                        });
                    };


                });
            </script>
        <% }) 
     } %>

</body>
