<!-- <!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head> -->

<link rel="stylesheet" href="/stylesheets/bootstrap-multiselect.css">

<body>
    
    <h1><%= title %></h1>
    <h2><%= band.name %></h2>
    
    <% include messages %>
    
    <form class="form" id="createContractBandForm" action='/bands/createcontract' method='post'>

        <div class="panel panel-success">
            <div class="panel-heading">
                Propuesta
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <paper-input name="band" label="Nombre de banda" value="<%= band.name %>"></paper-input>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <!-- <paper-input name="eventDate" label="Fecha del evento" auto-validate required="required" error-message="No puede ser vacio!"></paper-input> -->
                        <!-- <paper-dialog-calendar></paper-dialog-calendar> -->
                        <!-- <paper-span-calendar></paper-span-calendar> -->
                        <vaadin-date-picker name="eventDate" label="Fecha"></vaadin-date-picker>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <paper-textarea name="description" label="Condiciones"></paper-input>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <label>Lugar: </label>
                        <% include locationSelect %>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <paper-input name="cash" label="Monto" auto-validate required="required" error-message="No puede ser vacio!"></paper-input>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <!-- <paper-input name="expirationDate" label="Fecha de caducacion de la propuesta" auto-validate required="required" error-message="No puede ser vacio!"></paper-input> -->
                        <vaadin-date-picker name="expirationDate" name="eventDate" label="Fecha"></vaadin-date-picker>
                    </div>
                </div>

                <hr />

                <div class="row text-center">
                    <input id="submitButton" class="btn btn-lg btn-primary" type='submit' value='Enviar propuesta!' />
                </div>
            </div>
        </div>

    
    </form>


    <script type="text/javascript">
       /* $(document).ready(function(){
            var bandId = "<%= band.id %>";
            var bandName = "<%= band.name %>";

            var eventDate = document.querySelector("#eventDate");

            var submitButton = document.querySelector('#submitButton');
            submitButton.onclick = function(event) {
                if(eventDate.invalid) {
                    event.preventDefault();
                }
            };
        });*/
    </script>
</body>
</html>