<body>    
    <h1><%= title %></h1>
    
    <% include messages %>

    <form class="form" id="userEventsForm" action='/users/events' method='post'>
    
    <% if(locals.events) { 

    	if(events.length == 0) { %>
            <p class="alert alert-info">No hay eventos cercanos!</p>
        <% } %>

        <%

        events.forEach(function(event) {
		if(event.date > Date.now()) { 
			var eventDate = new Date(event.date);
			var hours = (eventDate.getHours()<10?'0':'') + eventDate.getHours();
			var mins = (eventDate.getMinutes()<10?'0':'') + eventDate.getMinutes();
			var day = (eventDate.getDate()<10?'0':'') + eventDate.getDate();
			var month = ((eventDate.getMonth() + 1)<10?'0':'') + (eventDate.getMonth() + 1);
			var year = eventDate.getFullYear(); %> %>
		    <paper-card heading="<%= event.name %>" animated-shadow="false">
		      <div class="card-content">
		      
		        <p><strong>Descripcion: </strong><%= event.description %></p>
		        <p><strong>Fecha: </strong><%= day %>/<%= month %>/<%= year %> a las <%= hours %>:<%= mins %></p>
			    <p><strong>Lugar: </strong><%= event.location.name %></p>
			    <% if(event.band) {  %>
		            <p><strong>Banda: </strong><%= event.band.name %></p>
			    <% } %>

		      </div>
		      <div class="card-actions">
		            <paper-button ><iron-icon icon="icons:check"></iron-icon>Asistir</paper-button>
		      </div>
		    </paper-card>
            
        	<% }
	}) 
    } %>

    </form>
</body>
