  <body>

    <div class="container-fluid">

    <% include messages %>

    <% if(locals.user) { %>
        <h3>Bienvenido <%= user.name %></h3>
    <% } %>

    <% if (locals.bandAds.length > 0) { %>
        <h4>Bandas recomendadas:</h4>
    <% } %>

    <div id="bandAds">
    <% if (locals.bandAds) { 
        bandAds.forEach(function(ad) {
            var adType;
            var adReference;
            var adVisibility;
            
            adType = "Banda";
            adReference = ad.band.name;      
        %>
            <paper-card heading="<%= adReference %>" >
                <div class="card-content">
                    <p><%= ad.description %></p>
                        Géneros:
                    <ul>
                    %>
                    <%
                        var bandGenres = ad.band.genres;
                        bandGenres.forEach( function(genre){
                    %>
                        <li> <%= genre %> </li>
                    <%  } );%>
                    
                    </ul>           
                </div>

                <div class="card-actions">
                        <a href="/songs/browse/<%= ad.band.id %>">
                            <paper-button>
                                <iron-icon icon="forward"></iron-icon>Música
                            </paper-button>
                        </a>                
                </div>            
            </paper-card>
            
        <% }) 
    } %>
    </div>

    <% if (locals.locationAds.length > 0) { %>
        <h4>Lugares recomendados:</h4>
    <% } %>

    <div id="locationAds">
    <% if (locals.locationAds) { 
        locationAds.forEach(function(ad) {
            var adType;
            var adReference;
            var adVisibility;
            
            adType = "Lugar"
            adReference = ad.location.name;      
        %>
            <paper-card heading="<%= adReference %>" >
                <div class="card-content">
                    <p><%= ad.description %></p>
                    <p><%= ad.location.address %></p>
                    <p><%= ad.location.location %></p>
                </div>         
            </paper-card>
            
        <% }) 
    } %>
    </div>

  </body>
</html>

