  <body>

    <div class="container-fluid">

    <% include messages %>

    <% if(locals.user) { %>
        <h3>Bienvenido <%= user.name %></h3>
    <% } %>

    <% if (locals.goldAds || locals.silverAds) { %>
        <h4>Avisos:</h4>
    <% } %>

    <div id="goldAds">
    <% if (locals.goldAds) { 
        goldAds.forEach(function(ad) {
            var adType;
            var adReference;
            var adVisibility;
            
            if (ad.type === "band" )  {
                adType = "Banda";
                adReference = ad.band.name;
            } else {
                adType = "Lugar"
                adReference = ad.location.name;
            }        
        %>
            <paper-card heading="<%= adReference %>" >
                <div class="card-content">
                    <p><%= ad.description %></p>
                    
                    <% if (ad.type === "band" ) { %>
                        Géneros:
                    <ul>
                    %>
                    <%
                        var bandGenres = ad.band.genres;
                        bandGenres.forEach( function(genre){
                    %>
                        <li> <%= genre %> </li>
                    <%  } );%>
                    
                    </ul>

                    <% } %>

                    <% if (ad.type === "location" ) { %>
                        <p> <%= ad.location.address %> </p>
                        <p> <%= ad.location.location %> </p>
                    <% } %>                    
                </div>

                <div class="card-actions">
                    <% if (ad.type === "band" ) { %>
                        <a href="/songs/browse/<%= ad.band.id %>">
                            <paper-button>
                                <iron-icon icon="forward"></iron-icon>Música
                            </paper-button>
                        </a>
                    <% } %>

                    <% if (ad.type === "location" ) { %>
                    <!--
                        <a href="/locations/browse/<%= ad.location.id %>">
                            <paper-button>
                                <iron-icon icon="forward"></iron-icon>Más info
                            </paper-button>
                        </a>
                    -->
                    <% } %>                    
                </div>            
            </paper-card>
            
        <% }) 
    } %>
    </div>

  </body>
</html>

