<body>    
    <h1><%= title %></h1>
    
    <% include messages %>

    <form class="form" id="userInvitedEventsForm" action='/users/invitedEvents' method='post'>
    
    <% if(locals.events) { 
	events.forEach(function(event) {
		if(locals.songs) { 
        		songs.forEach(function(song) {
		    		if(song.band.id == event.band) { %>

					    <paper-card heading="<%= event.name %>" animated-shadow="false">
					      <div class="card-content">
						<ul>
						    <li>Descripcion: <%= event.description %></li>
						    <li>Fecha: <%= event.date %></li>
						    <li>Banda: <%= song.band.name %></li>
						</ul>
					      </div>
					      <div class="card-actions">
						    <paper-button ><iron-icon icon="icons:check"></iron-icon>Asistir</paper-button>
					      </div>
					    </paper-card>
				<% }
    
		 	}) 
		}
        }) 
    } %>

    </form>
</body>
