<body>    
    <h1><%= title %></h1>
    
    <% include messages %>
    
    <% if (locals.locations) { 
        locations.forEach(function(location) { %>
            <paper-card heading="<%=location.name %>" >  
                <div class="card-content">
                    <p><%=location.description %></p>
                    <p>Direccion: <%=location.address %>, <%=location.location %></p>
                    Generos: <ul>
                        <% location.genres.forEach(function(genre){ %>
                            <li><%=genre %></li>
                        <% }) %>
                    </ul>
                </div>
                <div class="card-actions"> 
                    <paper-button ><iron-icon icon="icons:build"></iron-icon>Configurar</paper-button>
                </div>
            </paper-card>
            
        <% }) 
    } %>

</body>
