<body>
    <h1><%= title %></h1>
    <p>Tu selección de canciones.</p>

    <style type="text/css">
        .footer{
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        body{
            padding-bottom: 70px;
        }
    </style>


    <br/>

    <table class="table">
        <thead> 
            <tr>
                <th>Nom</th> 
                <th>Banda</th>
                <th>Durac</th>
                <th>Votos</th>
                <th>Acc</th>
            </tr> 
        </thead>
        <tbody id="songList"> 
            <% if(locals.songs) {
                songs.forEach( function(song) { 
                    var minutes = Math.floor(song.duration / 60);
                    var seconds = Math.floor(song.duration % 60);
                    var duration = minutes + ':' + seconds; %>

                    <tr><td> <%= song.name %></td> <td> <%= song.band.name %> </td> <td> <%= duration %></td> <td> <%= song.upvotes.length %> </td> <td> <paper-icon-button class="playSong" data-songurl="/songs/<%= song.fileName %>" icon="icons:send" title="play" ></paper-icon-button> </td> </tr>
                <% } )
            } %>
        </tbody>
    </table>

    <script type="text/javascript" src="/custom/CustomStyleJs/AudioPlayer.js"></script>
    <script type="text/javascript" src="/custom/CustomStyleJs/MusicSearch.js"></script>
</body>
