<!-- <!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head> -->

<link rel="stylesheet" href="/stylesheets/bootstrap-multiselect.css">

<body>
    
    <h1><%= title %></h1>
    
    <% include messages %>
    
    <form class="form" id="createAdForm" action='/ads/create' method='post'>

	<% if((locals.locations && locations.length != 0) || (locals.bands && bands.length != 0)) { %>

        <div class="panel panel-success">
            <div class="panel-heading">
                Datos del Aviso
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <label>¿Banda o Lugar?</label>
			<script> var radios = document.formName.type; </script>
			<% if(!locals.bands || bands.length == 0) { %>
				<label class="radio-inline"><input type="radio" id="bandRadio" value="band" disabled="disabled" name="type" checked="checked">Banda</label>
			<% } else { %>
                       						<label class="radio-inline"><input type="radio" id="bandRadio" value="band" name="type" checked="checked">Banda</label>
			<% }
			if(!locals.locations || locations.length == 0) { %>
				<label class="radio-inline"><input type="radio" id="locationRadio" value="location" disabled="disabled" name="type">Lugar</label>
			<% } else { %>
								<label class="radio-inline"><input type="radio" id="locationRadio" value="location" name="type">Lugar</label>
			<% } %>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div id="bandSelectContainer">
                            <select id="bandSelect" name="referenceBand" size="10">
                                <% if (locals.bands) { 
                                    bands.forEach(function(band) { %>
                                        <option value="<%= band._id %>"><%= band.name %></option>
                                    <% }) 
                                } %>
                            </select> 
                        </div>
                        <div id="locationSelectContainer" style="display:none;">
                            <select id="locationSelect" name="referenceLocation" size="10">
                                <% if (locals.locations) { 
                                    locations.forEach(function(location) { %>
                                        <option value="<%= location._id %>"><%= location.name %></option>
                                    <% }) 
                                } %>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">

                    <script>

                    var priceGold = 40;
                    var priceSilver = 25;
                    var adType = 2;

                    function calculatePrices() {
                        $("#priceGold").text("US $" + priceGold);
                        $("#priceSilver").text("US $" + priceSilver);
                    }

                    function calculateTotal() {
                        $("#priceGold").text("US $" + priceGold);
                        $("#priceSilver").text("US $" + priceSilver);
                        if (adType === 1) {
                            $("#totalPrice").text("US $"+ priceSilver * $("#duration").val());  
                        } else {
                            $("#totalPrice").text("US $"+ priceGold * $("#duration").val());
                        }

                    }                    

                    $( document ).ready(function() {
                        calculateTotal();
                        $( "#bandRadio" ).click(function() {
                            priceGold = 40;
                            priceSilver = 25;
                            calculatePrices();
                            calculateTotal();
                            $( "#locationSelectContainer" ).hide();
                            $( "#bandSelectContainer" ).show();
                        });
                        $( "#locationRadio" ).click(function() {
                            priceGold = 100;
                            priceSilver = 60;                            
                            calculatePrices();
                            calculateTotal();
                            $( "#locationSelectContainer" ).show();
                            $( "#bandSelectContainer" ).hide();

                        });

                        $( "#adSilver" ).click(function() {
                            adType = 1;
                            calculateTotal();
                        });
                        $( "#adGold" ).click(function() {
                            adType = 2;
                            calculateTotal();
                        });

                        $( "#duration" ).focus(function() {
                            calculateTotal();
                        });
                        $( "#duration" ).change(function() {
                            calculateTotal();
                        });
                        $( "#duration" ).keyup(function() {
                            calculateTotal();
                        });

                        $( "#locationSelectContainer" ).hide(); 

                    });
                   
                    </script>

                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th></th>
                            <th class="warning">Visibilidad Gold</th>
                            <th class="active">Visibilidad Silver</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><b>Descripción</b></td>
                            <td class="warning">Tu aviso va a tener un tamaño mayor y va a ser visto por mucha gente</td>
                            <td class="active">Tu aviso va a tener un tamaño stándar</td>
                          </tr>
                          <tr>
                            <td><b>Precio/mes</b></td>
                            <td class="warning"><span id="priceGold">US $40</span></td>
                            <td class="active"><span id="priceSilver">US $25</span></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td class="warning"><label class="radio-inline"><input id="adGold" checked="checked" type="radio" value="gold" name="visibility">Gold</label></td>
                            <td class="active"><label class="radio-inline"><input id="adSilver" type="radio" value="silver" name="visibility">Silver</label></td>
                          </tr>
                        </tbody>
                      </table>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <paper-input label="Duración" id="duration" name="duration" value="1" auto-validate required pattern="[0-9]*" error-message="Duración inválida!">
                            <div suffix> mes(es)</div>
                        </paper-input>
                    </div>
                </div>                
                <% include cc %>                         

                <br>

                <div class="row">
                    <div class="col-sm-8">
                        <div class="well well-lg text-right">
                            Total: <b><span id="totalPrice">US $0</span></b>
                        </div>
                        </div>
                </div> 
                      
            <hr />

            <div class="row text-center">
                <input class="btn btn-lg btn-primary" type='submit' value='Crear!' />
            </div>
            </div>
        </div>
    
	<% } else { %>
		<p class="alert alert-info">No tienes ni bandas ni lugares registrados. No puedes crear avisos.</p>
	<% } %>

    </form>
</body>
</html>
