<body>    
    <h1><%= title %></h1>
    
    <% include messages %>

    <form class="form" id="userInvitedEventsForm" action='/users/invitedEvents' method='post'>

    <%  if(locals.events && locals.songs) {

    if((events.length == 0) || (songs.length == 0)){ %>
            <p class="alert alert-info">Aun no te invitaron a ningun evento!</p>
        <% } %>

        <%

	var bandsSet = {};
	events.forEach(function(event) {
		if(event.date > Date.now()) {
			var likedSongs = [];
			var mostrar = false;
			songs.forEach(function(song) {
		    		if(event.band && (song.band.id == event.band.id)) {
					likedSongs.push(song.name);
					mostrar = true;
					if(!(bandsSet.hasOwnProperty(song.band.id))) { 
						bandsSet[song.band.id] = song.name;
					}
				}
			}) 
			if (mostrar) { 
				var eventDate = new Date(event.date);
				var hours = (eventDate.getHours()<10?'0':'') + eventDate.getHours();
				var mins = (eventDate.getMinutes()<10?'0':'') + eventDate.getMinutes();
				var day = (eventDate.getDate()<10?'0':'') + eventDate.getDate();
				var month = ((eventDate.getMonth() + 1)<10?'0':'') + (eventDate.getMonth() + 1);
				var year = eventDate.getFullYear(); %>
			   <paper-card heading="<%= event.name %>" animated-shadow="false">
			      <div class="card-content">

				    <p><strong>Descripcion: </strong><%= event.description %></p>
				    <p><strong>Fecha: </strong><%= day %>/<%= month %>/<%= year %> a las <%= hours %>:<%= mins %></p>
				    <p><strong>Lugar: </strong><%= event.location.name %></p>
				    <p><strong>Banda: </strong><%= event.band.name %></p>
				    <p><strong>Canciones que te gustaron: </strong>
					<ul>
						<% likedSongs.forEach(function(song){ %>
							<li><%= song %></li>
						<% }); %>
					</ul>
				    </p>

			      </div>
			      <div class="card-actions">
				    <paper-button ><iron-icon icon="icons:check"></iron-icon>Asistir</paper-button>
			      </div>
		    	   </paper-card>
			<% }
		}
	}) 
    } %>

    </form>
</body>
