<body>    
    <h1><%= title %></h1>
    
    <% include messages %>
    
    <% if (locals.locations) { 

        if(locations.length == 0) { %>
            <p class="alert alert-info">No sos socio de ningun lugar!</p>
        <% } %>

        <%

        locations.forEach(function(location) { %>
            <paper-card heading="<%=location.name %>" >  
                <div class="card-content">
                    <p><%=location.description %></p>
                    <p><strong>Direccion: </strong><%=location.address %>, <%=location.location %></p>
                    <strong>Generos: </strong> <ul>
                        <% location.genres.forEach(function(genre){ %>
                            <li><%=genre %></li>
                        <% }) %>
                    </ul>
                </div>
                <div class="card-actions"> 
                    <paper-button ><iron-icon icon="icons:build"></iron-icon>Configurar</paper-button>
                </div>
            </paper-card>
            
        <% }) 
    } %>

</body>
